* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: darkseagreen;
}

header h1 {
    color: aqua;
}

header li {
    display: inline;
    padding-left: 16px;
}

header li a {
    color: aqua;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
}